/* 父级基础字号 */
.keyboard {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: #d1d4da;
  /* 禁止复制 */
  -moz-user-select: none; /* Firefox私有属性 */
  -webkit-user-select: none; /* WebKit内核私有属性 */
  -ms-user-select: none; /* IE私有属性(IE10及以后) */
  -khtml-user-select: none; /* KHTML内核私有属性 */
  -o-user-select: none; /* Opera私有属性 */
  user-select: none; /* CSS3属性 */
}
/* 数字拼音键盘和地区简称键盘 */
.keyboard .place-name ul, .keyboard .place-letter ul {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  text-align: center;
  align-items: center;
  padding: 4px 4px 6px;
}
/* 关闭 */
.keyboard .shut-down {
  width: 100%;
  background-color: #f5f6f5;
  box-shadow: 0 -1px 0 #ebebeb;
}
.keyboard .shut-down p {
  font-size: 14px;
  color: #333;
  padding: 4px;
  text-align: right;
}
/* 数字字母键盘和地区简称键盘的每个按键样式 */
.keyboard .place-name li, .keyboard .place-letter li {
  flex: 0 0 9.1%;
  height: 42px;
  line-height: 42px;
  margin: 4px auto;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  box-shadow: 0 2px 0 #888a8d;
}
.keyboard .place-name li:active, .keyboard .place-letter li:active {
  background-color: #abb1ba;
}

.keyboard .place-name .lastli, .keyboard .place-letter .lastli {
  padding: 0 20px;
}
.keyboard .place-name .lastli span, .keyboard .place-letter .lastli span {
  border: 1px solid #000;
  padding: 2px 4px;
  border-radius: 4px;
}
.keyboard .place-name .place-color, .keyboard .place-letter .place-color {
  background: #abb1ba;
  pointer-events: none;
  cursor: default;
}



html,
body {
  background-color: #f6f6f6;
  position: relative;
  z-index: -2;
}

.header {
  width: 100%;
  height: 148px;
  position: relative;
  z-index: -1;
  /* background-color: #1e82d2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1; */
}

.keyboard-padding {
  padding: 0 14px;
  text-align: center;
  margin-top: -64px;
}

.keyboard-padding>p {
  text-align: left;
  font-size: 16px;
  line-height: 36px;
  color: #f8fffe;
}

.plate {
  background-color: #fff;
  border-radius: 4px;
  padding: 48px 24px 16px;
  box-shadow: 0 0 8px #eee;
}

/* 车牌框 */
.plate-frame ul {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  text-align: center;
  align-items: center;
}
.plate-frame li {
  flex: 0 0 10.2%;
  height: 42px;
  line-height: 42px;
  margin: 0 auto;
  font-size: 18px;
  border: 1px solid #ACACAC;
  border-radius: 2px;
}
.plate-frame li.active {
  border: 1px solid #108DE9;
  background-color: #f7f7f7;
}
.plate-frame li.new {
  border: 1px dashed #3B9548;
  background: url(../images/new.png) no-repeat 3px 3px;
  background-size: 80% 80%;
}

/* 输入框 */
.plate-input input {
  width: 100%;
  padding: 10px 0;
  font-size: 22px;
  letter-spacing: 8px;
  outline: none;
  border: 1px solid #acacac;
  border-radius: 6px;
}

.plate-input input::-webkit-input-placeholder {
  color: #acacac;
  font-weight: 100;
  font-size: 20px;
}

/* 按钮 */
.plate-button {
  margin-top: 28px;
}

.queryDetail {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  margin: 12px 0;
  border-radius: 4px;
  background-color: #108de9;
  color: #fff;
  font-size: 16px;
}
