/* 父级基础字号 */
.keyboard {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #d1d4da;
  /* 禁止复制 */
  -moz-user-select: none; /* Firefox私有属性 */
  -webkit-user-select: none; /* WebKit内核私有属性 */
  -ms-user-select: none; /* IE私有属性(IE10及以后) */
  -khtml-user-select: none; /* KHTML内核私有属性 */
  -o-user-select: none; /* Opera私有属性 */
  user-select: none; /* CSS3属性 */
}
/* 数字拼音键盘和地区简称键盘 */
.keyboard .place-name ul, .keyboard .place-letter ul {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  text-align: center;
  align-items: center;
  padding: 4px 4px 6px;
}
/* 关闭 */
.keyboard .shut-down {
  width: 100%;
  background-color: #f5f6f5;
  box-shadow: 0 -1px 0 #ebebeb;
}
.keyboard .shut-down p {
  font-size: 14px;
  color: #333;
  padding: 4px;
  text-align: right;
}
/* 数字字母键盘和地区简称键盘的每个按键样式 */
.keyboard .place-name li, .keyboard .place-letter li {
  flex: 0 0 9.1%;
  height: 46px;
  line-height: 46px;
  margin: 4px auto;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  box-shadow: 0 2px 0 #888a8d;
}
.keyboard .place-name li:active, .keyboard .place-letter li:active {
  background-color: #abb1ba;
}

.keyboard .place-name .lastli, .keyboard .place-letter .lastli {
  padding: 0 20px;
}
.keyboard .place-name .lastli span, .keyboard .place-letter .lastli span {
  border: 1px solid #000;
  padding: 2px 4px;
  border-radius: 4px;
}
.keyboard .place-name .place-color, .keyboard .place-letter .place-color {
  background: #abb1ba;
  pointer-events: none;
  cursor: default;
}

/* 如果是以下手机，底部菜单不会被底部横线挡住 */
/*iphoneX、iphoneXs*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .place-letter {
    padding-bottom: 10px;
  }
}
/*iphone Xs Max*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:3) {
  .place-letter {
    padding-bottom: 10px;
  }
}
/*iphone XR*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:2) {
  .place-letter {
    padding-bottom: 10px;
  }
}


html,
body {
  background-color: #f6f6f6;
  position: relative;
  z-index: -2;
}
ul, li {
  list-style: none;
}


.header {
  width: 100%;
  height: 148px;
  position: relative;
  z-index: -1;
  /* background-color: #1e82d2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1; */
}

.keyboard-padding {
  padding: 0 14px;
  text-align: center;
  margin-top: -64px;
}

.keyboard-padding>p {
  text-align: left;
  font-size: 16px;
  line-height: 36px;
  color: #f8fffe;
}

.plate {
  background-color: #fff;
  border-radius: 4px;
  padding: 30px 10px 10px;
  box-shadow: 0 0 8px #eee;
}

/* 车牌框 */
.plate-frame ul {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  text-align: center;
  align-items: center;
}
.plate-frame li {
  flex: 0 0 10.2%;
  height: 42px;
  line-height: 42px;
  margin: 0 auto;
  font-size: 18px;
  border: 1px solid #ACACAC;
  border-radius: 2px;
}
.plate-frame li.active {
  border: 1px solid #108DE9;
  background-color: #f7f7f7;
}
.plate-frame li.new {
  border: 1px dashed #3B9548;
  background: url(../images/new.png) no-repeat 3px 3px;
  background-size: 80% 80%;
}

/* 输入框 */
.plate-input input {
  width: 100%;
  padding: 10px 0;
  font-size: 22px;
  letter-spacing: 8px;
  outline: none;
  border: 1px solid #acacac;
  border-radius: 6px;
}

.plate-input input::-webkit-input-placeholder {
  color: #acacac;
  font-weight: 100;
  font-size: 20px;
}

/* 按钮 */
.plate-button {
  margin-top: 20px;
}

.queryDetail {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  margin: 12px 0;
  border-radius: 4px;
  background-color: #108de9;
  color: #fff;
  font-size: 16px;
}

.queryDetail:active {
  background-color: #2898ea;
}

.plateText {
  font-size: 18px;
  text-decoration: underline;
  color: #666;
}

.introduce h3 {
  width: 100%;
  position: relative;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #666;
  margin-top: 8px;
}

.introduce span {
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #666;
}

.introduce h3::before,
.introduce h3::after {
  content: "";
  position: absolute;
  top: 52%;
  background-color: #ccc;
  width: 36%;
  height: 1px;
}

.introduce h3::before {
  left: 1%;
}

.introduce h3::after {
  right: 1%;
}

/* 缴费信息 */
.detail {
  display: none;
}
.detail ul {
  position: relative;
  background-color: #eff7ff;
  /* box-shadow: 0 0 8px #d1d1d1; */
  border-radius: 4px;
  padding: 8px 10px;
  color: #666;
  font-size: 16px;
  text-align: left;
}
.detail .plate-number {
  /* border-bottom: 1px solid #108DE9; */
  position: relative;
  padding-bottom: 6px;
  text-align: left;
  display: flex;
  align-items: center;
}
.detail .plate-number::after {
/* 绝对定位到父元素最低端，可以通过left/right的值控制边框长度或者定义width:100%;*/
position: absolute;
bottom: 0;
left: 0;
right: 0;
/* 初始化边框 */
content: '';
box-sizing: border-box;
height: 1px;
border-bottom: 1px solid #61b6ff;
/* 以上代码，实现了一个边框为1px的元素，下面实现0.5px边框*/
transform: scaleY(0.5); /* 元素Y方向缩小为原来的0.5 */
transform-origin: 0 0;  /* SS属性让你更改一个元素变形的原点。 */
}
.detail .plate-number img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  background-color: #d4edff;
  border-radius: 50%;
  padding: 4px;
}
.detail .plate-number strong {
  font-size: 20px;
  font-weight: 400;
  color: #108DE9;
}
.detail li {
  padding: 2px 0;
}
.detail li i {
  margin-left: 8px;
  font-style: normal;
}
.detail .money-colors {
  font-size: 24px;
  font-weight: 500;
  /* color: #108DE9; */
  color: #ee8576;
}
.detail .pay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #108DE9;
  padding: 6px 16px;
  border-radius: 4px;
}
.detail .pay:active {
  background-color: #2898ea;
}
.detail .pay img {
  width: 24px;
  height: 24px;
}
.detail .pay p {
  font-size: 14px;
  color: #fff;
}