/* 车牌数字键盘css样式 name：Asa_Zhou data：2019/7/03修改完成 */
/* 父级基础字号 */
.keyboard {
    width: 100%;
    font-size: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    background-color: #cfd3da;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
/* 数字拼音键盘和地区简称键盘 */
.keyboard .place-name, .keyboard .place-letter {
    width: 100%;
}
/* 关闭 */
.keyboard .shut-down {
    text-align: right;
    padding: 0.2em 0.5em;
    font-size: 14px;
    background-color: #f9f9f9;
    color: #000;
    border-bottom: 0.03125em solid #ddd;
    border-top: 0.03125em solid #eee;
    margin-bottom: 0.8em;
    cursor: pointer;
}
/* 数字字母键盘和地区简称键盘的每个按键样式 */
.keyboard .place-name li, .keyboard .place-letter li {
    text-align: center;
    width: 1.968em;
    padding: 0.86em 0;
    border-radius: 0.4em;
    background-color: #fff;
    font-size: 1em;
    color: #000;
    margin: 0 0.25em 0.5em 0;
    box-shadow: 0 0.125em 0 #87898e;
    list-style: none;
    cursor: pointer;
}
.keyboard .place-name li:active, .keyboard .place-letter li:active {
    background: #a7afba;
}
.keyboard .place-name li:nth-child(10n), .keyboard .place-letter li:nth-child(10n) {
    margin-right: 0;
}
.keyboard .place-name .lastli, .keyboard .place-letter .lastli {
    width: 2.2em;
    padding: 0.86em 0.68em;
}
/* 区分每排键盘 */
.keyboard .place-name ul, .keyboard .place-letter ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 手机屏幕大于392的屏幕 */
@media screen and ( min-width: 392px ) {
    .keyboard .place-name li, .keyboard .place-letter li {
        width: 2.0625em;
    }
}
/* 手机屏幕大于392小于400的屏幕 */
@media screen and ( min-width: 413px ) {
    .keyboard .place-name li, .keyboard .place-letter li {
        width: 2.1em;
    }
}
/* 手机屏幕小于392的屏幕 */
@media screen and ( max-width: 392px ) {
    .keyboard .place-name li, .keyboard .place-letter li {
        width: 2.12em;
    }
}
/* 手机屏幕小于375px的屏幕 */
@media screen and ( max-width: 375px ) {
    .keyboard .place-name li, .keyboard .place-letter li {
        width: 1.92em;
        padding: 0.86em 0;
    }
    .keyboard .place-name .lastli, .keyboard .place-letter .lastli {
        width: 2.2em;
        padding: 0.86em 0.68em;
    }
}
/* 手机屏幕小于365px的屏幕 */
@media screen and ( max-width: 365px ) {
    .keyboard .place-name li, .keyboard .place-letter li {
        width: 1.86em;
    }
}
/* 手机屏幕小于360px的屏幕 */
@media screen and ( max-width: 360px ) {
    .keyboard .place-name li, .keyboard .place-letter li {
        width: 1.96em;
    }
}
/* 手机屏幕小于350px的屏幕 */
@media screen and ( max-width: 350px ) {
    .keyboard .place-name li, .keyboard .place-letter li {
        width: 1.6em;
    }
}
/* 手机屏幕小于320px的屏幕 */
@media screen and ( max-width: 320px ) {
    .keyboard .place-name li, .keyboard .place-letter li {
        width: 1.58em;
    }
}
